################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.net Assignment 1/.vs
/.net Assignment 1/bin/Debug/net6.0
/.net Assignment 1/obj/Debug/net6.0
/.net Assignment 1/obj
/.vs/kavita_repo/v17
/Assignment_2/obj
/Assignment_2/bin/Debug/net7.0
/.vs
/Assignment 3(.netCore)/bin/Debug/netcoreapp3.1
/Assignment 3(.netCore)/obj
/Assignment_4(.netFramework)/bin/Debug
/Assignment_4(.netFramework)/obj
/Assignment_4(.netFramework)/Properties
