################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.net Assignment 1/.vs
/.net Assignment 1/bin/Debug/net6.0
/.net Assignment 1/obj/Debug/net6.0
/.net Assignment 1/obj
/.vs/kavita_repo/v17
/Assignment_2/obj
/Assignment_2/bin/Debug/net7.0
